@font-face{
    font-family:"AuraRegular W05 Regular";
    src: url("../css/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix");
    src: url("../css/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix") format("eot"),url("../css/92d5ad9f-b979-4d9b-8608-e7bef993c281.woff2") format("woff2"),url("../css/48665d19-aff2-4022-aa29-5f4afa40c8af.woff") format("woff"),url("../css/27cf9724-1c32-4032-b145-f082ef3ddb21.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

.page-container{
    font-family: "AuraRegular W05 Regular", Fallback, sans-serif;
}