@font-face{
font-family:"AuraRegular W05 Regular";
src: url("../css/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix");
src: url("../css/d83d08da-5e79-48df-a9b1-6f5acf78cb00.eot?#iefix") format("eot"),url("../css/92d5ad9f-b979-4d9b-8608-e7bef993c281.woff2") format("woff2"),url("../css/48665d19-aff2-4022-aa29-5f4afa40c8af.woff") format("woff"),url("../css/27cf9724-1c32-4032-b145-f082ef3ddb21.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    background-color: white;
}

.page-container{
    font-family: "AuraRegular W05 Regular", Fallback, sans-serif;
}

#rooms-app-dock-icon-container, #rooms-app-icon-container{
    background-image: url(../media/img/rooms-app-icon.png);
}

#hov-app-dock-icon-container{
    background-image: url(../media/img/hov_ig_logo.png);
}

#library-app-icon-container{
    background-image: url(../media/img/library-app-icon.png);
}

#preview-app-icon-container{
    background-image: url(../media/img/preview-app-icon.png);
    background-size: 75px auto;
}

#honeycomb-app-icon-container{
    background-image: url(../media/img/honeycomb-app-icon.png);
    background-size: 75px auto;
}

#t0wn-app-icon-container{
    background-image: url(../media/img/t0wn-app-icon.png);
    background-size: 75px auto;
}

/* DESKTOP */
@media only screen and (min-width: 768px){  

    #instructions-overlay-container{
        width: 200px;
        height: 102px;
        border-radius: 15px;
        z-index: 200;
        cursor: pointer;
        top: 50%;
        left: 50%;
        position: absolute;
        margin: -150px 0 0 -100px;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        transition: margin 0.5s, top 0.5s, left 0.5s, opacity 1s;
    }

    .card-app-container{
        width: 102px;
        height: 152px;
        display: inline-block;
    }

    .card-app-icon-container{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 1% auto;
        cursor: pointer;
    }
    
    .card-app-icon-container:hover{
        border: 2px black solid;
        box-shadow: 3px 3px 3px white;
    }

    .card-app-label-container{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
    }

    #main-card-console-container{
        width: 500px;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -250px;
    }

    #dock-app-container{
        width: 100%;
        height: 80px;
        border-radius: 15px 15px 0 0;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 0;
    }

    .card-app-dock-icon-container{
        display: inline-block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 1% auto;
        cursor: pointer;
    }
    
    .card-app-dock-icon-container:hover{
        border: 2px black solid;
        box-shadow: 3px 3px 3px white;
    }
    
    #instructions-overlay-title-container{
        margin-top: 5%;
    }
}

/* MOBILE */
@media only screen and (max-width: 768px){ 
    body, html{
        background-color: yellow;
    }
    
    #instructions-overlay-container{
        width: 200px;
        height: 102px;
        border-radius: 15px;
        z-index: 200;
        cursor: pointer;
        top: 50%;
        left: 50%;
        position: absolute;
        margin: -150px 0 0 -100px;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        transition: margin 0.5s, top 0.5s, left 0.5s, opacity 1s;
    }

    .card-app-container{
        width: 78px;
        height: 102px;
        margin: 0 25px;
        display: inline-block;
    }

    .card-app-icon-container{
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-size: 100% 100%;
        margin: 1% auto;
    }

    .card-app-label-container{
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 20px;
    }

    #main-card-console-container{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #dock-app-container{
        width: 100%;
        height: 75px;
        border-radius: 15px 15px 0 0;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: 0;
    }

    .card-app-dock-icon-container{
        display: inline-block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 1% auto;
    }
    
    #instructions-overlay-title-container{
        margin-top: 15%;
    }
}
