@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.mask-option-button-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    border: 0;
    text-align: center;
    color: white;
    line-height: 100px;
    display: inline-block;
    font-size: 60px;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
}

#mask-view-selector-container{
    position: absolute;
    z-index: 100;
    width: 350px;
    height: 100px;
    bottom: 7%;
    left: 50%;
    margin-left: -175px;
}

#previous-mask-option-button-container{
    float: left;
}

#next-mask-option-button-container{
    float: right;
}