@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", sans-serif;
    /*font-family: "IBM Plex Sans", sans-serif;*/
    overflow: hidden;
}

#main-app-container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 0;
}

.page-container{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    position: relative;
}

#page-overlay-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    display: none;
    opacity: 0;
}

#page-0-content-wrapper{
    width: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
}

#company-logo-container{
    width: 100px;
    height: 100px;
    background-image: url("../media/img/hov_ig_logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    margin: 5% auto;
}

#second-company-logo-container{
    width: 50px;
    height: 50px;
    background-image: url("../media/img/hov_ig_logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 3%;
    right: 3%;
}

#company-header-button{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 300px;
    height: 50px;
    z-index: 50;
    text-transform: uppercase;
    cursor: pointer;
    color: white;/*black;*/
    font-size: 24px;
    line-height: 50px;
    font-weight: 900;
}

#social-media-button-bar-container{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.social-button-container{
    width: 35px;
    height: 35px;
    margin: 7px;
    border-radius: 50%;
    background-size: 100% 100%;
    display: inline-block;
    cursor: pointer;
}

#instagram-social-button-container{
    background-image: url("../media/img/instagram-texture.png");
    float: left;
}

#youtube-social-button-container{
    background-image: url("../media/img/play-button.png");
    float: right;
}

#company-title-container{
    width: 300px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
}

#company-slogan-container{
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin-top: 2%;
}

#next-page-container{
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    background-image: url("../media/img/down-arrow.png");
    background-size: 100% 100%;
    opacity: 1.0;
    transition: opacity 0.5s;
    animation: blinkButton 2s linear 0s infinite normal;/**/
}

#next-product-button-container{
    position: fixed;
    bottom: 25%;
    right: 25%;
    width: 150px;
    height: 150px;
    /*margin-left: -25px;*/
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    background-image: url("../media/img/down-arrow.png");
    background-size: 100% 100%;
    opacity: 1.0;
    transition: opacity 0.5s;
    animation: blinkButton 2s linear 0s infinite normal;/**/
}

@keyframes blinkButton {
  50% {opacity: 0;}
}

.service-select-button-container{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 2px white solid;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.service-select-button-container:hover{
    background-color: white;
    color: black;
}

#services-button-container{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -150px;
}

#subscribe-button-container{
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -150px;
}

@media only screen and (max-width: 768px){
    #page-1-content-wrapper{
        width: 275px !important;
        margin-left: -137px !important;
        margin-top: -250px !important;
        font-size: 18px !important;
        line-height: 30px !important;
        text-align: center!important;
    }
    
    #origin-content-wrapper{
        width: 275px !important;
        margin-left: -137px !important;
        margin-top: -250px !important;
        font-size: 18px !important;
        line-height: 30px !important;
    }
    
    #products-content-wrapper{
        width: 100%;
        position: absolute;
        top: 20%;
        left: 0;
    }
    
    .product-image-container{
        width: 100% !important;
        height: 275px  !important;
        border-radius: 5px;
        margin: 7% auto 3% auto;
        display: block;
    }

    .product-label-container{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        text-align: center !important;
        display: block;
        width: 100%;
    }
    
    .option-label-container{
        margin-bottom: 15%;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        display: block;
        text-align: center;
    }
    
    .option-label-container-prime{
        line-height: 50px !important;
        margin-bottom: 30% !important;
        text-align: center;
    }
    
    .video-container{
        display: block;
        width: 100%;
        height: auto;
        margin: 100px auto 50px auto !important;
    }
    
    .back-to-main-products-page-button-container{
        margin: 10% auto 0 auto !important;
    }
    
    #next-product-button-container{
        bottom: 2% !important;
        right: 50% !important;
        margin-right: -75px !important;
    }
    
    .bold-text-title-container{
        text-align: center;
    }


}
/* iPHONE 11 - 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        #page-0-container{
            background-position: 0% -35%;
            animation: mymovePhones 60s linear 0s infinite normal;/**/
        }
        
        #page-1-content-wrapper, #origin-content-wrapper{
            width: 300px;
            margin-left: -150px;
            margin-top: -220px;
        }
        
        #products-content-wrapper{
            width: 100%;
            position: absolute;
            top: 20%;
            left: 0;
            overflow-y: scroll;
        }
        
        .product-image-container{
            width: 100% !important;
            height: 275px  !important;
            border-radius: 5px;
            margin: 7% auto 3% auto;
            display: block;
        }
        
        .product-label-container{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            text-align: center !important;
            display: block;
            width: 100%;
        }
        
        .option-label-container{
            margin-bottom: 15%;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
            display: block;
            text-align: center;
        }

        .option-label-container-prime{
            line-height: 50px !important;
            margin-bottom: 30% !important;
            text-align: center;
        }

        .video-container{
            display: block;
            width: 100%;
            height: auto;
            margin: 100px auto 50px auto !important;
        }

        .back-to-main-products-page-button-container{
            margin: 10% auto 0 auto !important;
        }

        #next-product-button-container{
            bottom: 2% !important;
            right: 50% !important;
            margin-right: -75px !important;
        }
        
        .bold-text-title-container{
            text-align: center;
        }

}

/* iPHONE 11 PRO - 2436x1125px at 458ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        #page-0-container{
            background-position: 0% -35%;
            animation: mymovePhones 60s linear 0s infinite normal;/**/
        }
        
        #page-1-content-wrapper, #origin-content-wrapper{
            width: 300px;
            margin-left: -150px;
            margin-top: -220px;
            font-size: 20px;
            line-height: 36px;
        }
        
        #products-content-wrapper{
            width: 100%;
            position: absolute;
            top: 20%;
            left: 0;
            overflow-y: scroll;
        }

        .product-image-container{
            width: 100% !important;
            height: 275px !important;
            border-radius: 5px;
            margin: 7% auto 3% auto;
            display: block;
        }
        
        .product-label-container{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            text-align: center !important;
            display: block;
            width: 100%;
        }
        #origin-content-wrapper{
            overflow-y: scroll;
        }
        
        .option-label-container{
            margin-bottom: 15%;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
            display: block;
            text-align: center;
        }

        .option-label-container-prime{
            line-height: 50px !important;
            margin-bottom: 30% !important;
            text-align: center;
        }

        .video-container{
            display: block;
            width: 100%;
            height: auto;
            margin: 100px auto 50px auto !important;
        }

        .back-to-main-products-page-button-container{
            margin: 10% auto 0 auto !important;
        }

        #next-product-button-container{
            bottom: 2% !important;
            right: 50% !important;
            margin-right: -75px !important;
        }
        
        .bold-text-title-container{
            text-align: center;
        }

}

#bantxr-page-container{
    background-color: blueviolet;
}

#page-0-container{
    background-image: url("../media/img/venus_bg.jpg");
    background-repeat: repeat-x;
    background-position: 0% -15%;
    animation: mymove 60s linear 0s infinite normal;/**/
}

@keyframes mymove {
  100% {background-position: 400% -15%;}
}

@keyframes mymovePhones {
  100% {background-position: 400% -35%;}
}

.service-option-container{
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: border 0.5s, width 0.5s, height 0.5s;
}

.service-option-container:hover{
    border: 5px white solid;
    width: 110px;
    height: 110px;
}

#annes-flower-shop-button-container{
    /*background-color: blue;*/
    background-image: url("../media/img/annes-flower-shop.png");
}

#foodid-button-container{
    /*background-color: white;*/
    background-image: url("../media/img/foodid.png");
    background-size: 120% 120%;
}

#talk-show-host-button-container{
    /*background-color: red;*/
    background-image: url("../media/img/talk-show-host.png");
}

.bold-text-option-button-container, .bold-text-title-container{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    color: white;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
}

#we-are-option-button-container:hover{
    color: red;
}

#we-make-option-button-container:hover{
    color: blue;
}

#why-option-button-container:hover{
    color: yellow;
}

#office-product-image-container, #OfficeProductImageContainer{
    background-image: url("../media/img/office-bantxr-fill-in-logo.png");
    background-size: 100% 100%;
}

#classroom-product-image-container, #ClassroomProductImageContainer{
    background-image: url("../media/img/classroom-bantxr-fill-in-logo.png");
    background-size: 100% 100%;
}

.product-description-container{
    line-height: 34px;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    width: 80%;
    margin: 2% auto 3% auto;
}

#pARk-product-image-container, #pARkProductImageContainer{
    background-image: url("../media/img/classroom-bantxr-fill-in-logo.png");
    background-size: 100% 100%;
}

.back-to-main-products-page-button-container{
    margin: 3% auto 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px white solid;
    line-height: 100px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.25s;
}

.back-to-main-products-page-button-container:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.product-image-container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 7% auto 3% 0;
    display: block;
}

.product-label-container{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    display: block;
    width: 100%;
}

#product-overlay-container{
    z-index: 100;
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.option-label-container{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.option-label-container-prime{
    /*line-height: 50px;*/
    margin-bottom: 15%;
}

#page-1-content-wrapper, #origin-content-wrapper{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    margin-left: -325px;
    margin-top: -195px;
    text-align: left;
    transition: opacity 0.5s;
    font-size: 24px;
    line-height: 75px;
    color: white;
}

.hover-color-0:hover{
    font-size: 30px;
    color: yellow;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-1:hover{
    font-size: 30px;
    color: blue;
    text-shadow: 2px 2px white;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-2:hover, .hover-color-3:hover, .hover-color-5:hover{
    font-size: 30px;
    color: red;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-pre0:hover{
    font-size: 60px;
    color: red;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-pre1:hover{
    font-size: 60px;
    color: black;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-4:hover{
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 2px white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-6:hover{
    font-size: 30px;
    color: lawngreen;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-7a:hover{
    font-size: 60px;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-7b:hover{
    font-size: 60px;
    color: blue;
    text-shadow: 2px 2px white;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hover-color-8:hover{
    font-size: 30px;
    color: violet;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-9:hover{
    font-size: 30px;
    color: aqua;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-10:hover{
    font-size: 30px;
    color: aquamarine;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-11:hover{
    font-size: 30px;
    color: greenyellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-12:hover{
    font-size: 30px;
    color: #d61b5d;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-13:hover{
    font-size: 30px;
    color: #c6ccff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-14:hover{
    font-size: 30px;
    color: #5b56bc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-15:hover{
    font-size: 30px;
    color: #b0fdfa;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-16:hover{
    font-size: 30px;
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-17:hover{
    font-size: 30px;
    font-style: italic;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

.hover-color-18:hover{
    font-size: 30px;
    color: blue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

#products-content-wrapper{
    width: 80%;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#origin-content-wrapper{
    opacity: 1.0 !important;
    line-height: 50px !important;
}

#origin-content-wrapper{
    overflow-y: scroll;
    height: 500px;
    margin-top: -250px;
}

#vision-video-container{
    display: block;
    margin: 1% auto 0 auto;
}

.video-container{
    display: block;
    margin: 3% auto 2% auto;
}