@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", sans-serif;
    /*font-family: "IBM Plex Sans", sans-serif;*/
}

#main-app-container{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 0;
}

.page-container{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    position: relative;
}

#page-overlay-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    display: none;
    opacity: 0;
}

#page-0-content-wrapper{
    width: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
}

#company-logo-container{
    width: 100px;
    height: 100px;
    background-image: url("../media/img/hov_ig_logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    margin: 5% auto;
}

#company-title-container{
    width: 300px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
}

#company-slogan-container{
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin-top: 2%;
}

#next-page-container{
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    background-image: url("../media/img/down-arrow.png");
    background-size: 100% 100%;
    opacity: 1.0;
    transition: opacity 0.5s;
    animation: blinkButton 2s linear 0s infinite normal;/**/
}

@keyframes blinkButton {
  50% {opacity: 0;}
}

.service-select-button-container{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 2px white solid;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.service-select-button-container:hover{
    background-color: white;
    color: black;
}

#services-button-container{
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -150px;
}

#subscribe-button-container{
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -150px;
}

/* iPHONE 11 - 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        #page-0-container{
            background-position: 0% -35%;
            animation: mymovePhones 60s linear 0s infinite normal;/**/
        }
}

/* iPHONE 11 PRO - 2436x1125px at 458ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        #page-0-container{
            background-position: 0% -35%;
            animation: mymovePhones 60s linear 0s infinite normal;/**/
        }
}

#page-0-container{
    background-image: url("../media/img/venus_bg.jpg");
    background-repeat: repeat-x;
    background-position: 0% -15%;
    animation: mymove 60s linear 0s infinite normal;/**/
}

@keyframes mymove {
  100% {background-position: 400% -15%;}
}

@keyframes mymovePhones {
  100% {background-position: 400% -35%;}
}

.service-option-container{
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: border 0.5s, width 0.5s, height 0.5s;
}

.service-option-container:hover{
    border: 5px white solid;
    width: 110px;
    height: 110px;
}

#annes-flower-shop-button-container{
    /*background-color: blue;*/
    background-image: url("../media/img/annes-flower-shop.png");
}

#foodid-button-container{
    /*background-color: white;*/
    background-image: url("../media/img/foodid.png");
    background-size: 120% 120%;
}

#talk-show-host-button-container{
    /*background-color: red;*/
    background-image: url("../media/img/talk-show-host.png");
}

#page-1-content-wrapper{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    margin-top: -130px;
    text-align: justify;
    transition: opacity 0.5s;
    font-size: 24px;
    line-height: 34px;
    color: white;
}