html, body{
    width: 100%;
    height: 100%;
}

#trackbutton{
    outline: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px white solid;
    box-shadow: 3px 3px 3px white;
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -75px;
    transition: background-color 0.5s;
    z-index: 100;
    cursor: pointer;
}

#trackbutton:hover{
    background-color: rgba(255, 0, 0, 1.00);
}

.lens{
    display: block;
    border-radius: 3px;
    margin: 10px auto;
    width: 720px;
    height: 540px;
    box-shadow: 0 2px 3px 0 #0063FF), 0 4px 10px 0 #00000030;/*rgba(0, 0, 0, 0.2*/
}
/*border-bottom: 3px solid #0063FF;*/

.block {
    display: block;
}

#myvideo, .hidden {
    display: none;
}

.updatenote {
    padding: 10px;
    background: rgb(245, 147, 20);
    color: white;
    display: inline;
}