<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>Foodid | Pharmacy. Grocery. Delivery. | v. 0.4.2</title>
    <link rel="stylesheet" href="../css/barstyle.css" href="text/css"/>
    <script src="../js/socket.io.js"></script>
    <script src="../js/foodid-ui.js"></script>
    <script src="../js/foodid-ux.js"></script>
    <script src="../js/foodid-dlt.js"></script>
    <script src="../js/foodid-main.js"></script>
</head>
<body id="main-app-container">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMto1hIf8DcCvwGyJ1wp9jJhTD4uy8CCI&callback=initMap"
async defer></script>
</body>
</html>