<!DOCTYPE html>
<html>
<head>
    <title>ARmoir | An Immersive Fashion Experience | v. 0.0.10</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/armoir-style.css" type="text/css" />
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script src="../js/aframe-ar.js"></script>
</head>
<body style='margin : 0px; overflow: hidden;' id="main-app-container">
    <a-scene embedded arjs="sourceType: webcam; debugUIEnabled: false;" id="main-experience-container">
        <a-assets timeout="60000" id="main-experience-container">
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true"/>
        </a-assets>
        <a-camera></a-camera>
    </a-scene>
</body>
</html>