<!DOCTYPE html>
<html>
<head>
    <title>Classroom | v. 0.0.12</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="./css/armoir-style.css" type="text/css" />
    <script src="./js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script src="./js/aframe-ar.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body, html{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        #play-button-container{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            position: absolute;
            bottom: 2%;
            left: 50%;
            margin-left: -38px;
            z-index: 500;
            background-image: url("../media/img/hov_ig_logo.png");
            background-size: 100% 100%;
            color: black;
            line-height: 75px;
            text-align: center;
        }
    </style>
    <script>
 
        var Classroom = {
            onApplicationPage: -1,
            nyt : {
                initiated: false,
                active: false,
                tapping: false,
                counter: 0
            },
            mit : {
                initiated: false,
                active: false,
                tapping: false,
                counter: 0
            },
            hiro : {
                initiated: false,
                active: false,
                tapping: false,
                counter: 0
            },
            unibeat : {
                initiated: false,
                active: false,
                tapping: false,
                counter: 0
            },
        };
        
        /*let MarkerGridTracker = {
            
            repressor: {
                onApplicationApplicationPage: 0,   //  0 = menu, 1 = nyt, 2 = mit (bakuas), 3 = hiro (facetime/bodytime), 4 = MITbeat (office)
                onApplicationSection: null
            }
        };*/
        
        let stopTimeNYT, timeDiffNYT, stopTimeMIT, timeDiffMIT, stopTimeHIRO, timeDiffHIRO, stopTimeUNI, timeDiffUNI;
        
        document.addEventListener("DOMContentLoaded", function(){
            
            document.getElementById("unibeat-marker-container").addEventListener("markerLost", function(){
                if(Classroom.unibeat.initiated){
                    console.log("start finger counter on MIT marker");
                    Classroom.unibeat.counter = new Date().getTime();
                }
                else{
                    console.log("probably just a camera issue");
                }
            });
            
            document.getElementById("play-button-container").addEventListener("click", function(){
                let video = document.getElementById("chapter-overview-video");
                video.play();
                
                video.addEventListener('ended', (event) => {
                    console.log('Video is over!');
                    Classroom.onApplicationPage++;
                    document.getElementById("concept-check-title").setAttribute("visible", true);
                    document.getElementById("concept-check-title").emit("showIntroductionTitle");
                    
                    document.getElementById("intro-video-container").setAttribute("visible", true);
                    document.getElementById("intro-video-container").emit("showIntroductionVideo");
                    console.log("application moved to page", Classroom.onApplicationPage);
                });
            });
            
            document.getElementById("unibeat-marker-container").addEventListener("markerFound", function(){
                console.log("found UNI marker!");
                
                stopTimeUNI = new Date().getTime();
                timeDiffUNI = stopTimeUNI-Classroom.unibeat.counter;
                
                console.log(`--------------------------\n${timeDiffUNI} has elapsed\n--------------------------`);
                
                if(Classroom.unibeat.initiated){
                    if(Classroom.unibeat.active){
                        console.log("already active!");
                    }
                    else{
                        if(Classroom.onApplicationPage===-1){   //   if the student is just starting
                            if(timeDiffUNI>=3000 && timeDiffUNI<=6000){ /*  check if the button is being pressed for at least 4 seconds** 
                                                                            (explicitly 3000ms to 6000ms but live MITt tests show that the trigger occurs after 4 seconds on average)
                                                                            */
                                //document.getElementById("play-button-container").click();
                                let video = document.getElementById("chapter-overview-video");
                                video.play();

                                video.addEventListener('ended', (event) => {
                                    console.log('Video is over!');
                                    document.getElementById("concept-check-title").setAttribute("visible", true);
                                    document.getElementById("concept-check-title").emit("showIntroductionTitle");
                                    
                                    document.getElementById("intro-video-container").setAttribute("visible", true);
                                    document.getElementById("intro-video-container").emit("showIntroductionVideo");
                                });
                                
                                console.log("clicking on the video player");
                                
                                Classroom.onApplicationPage++;
                                console.log("application moved to page", Classroom.onApplicationPage);
                            }
                        }
                        else if(Classroom.onApplicationPage===0){   //   if the student is just starting
                            if(timeDiffUNI>=3000 && timeDiffUNI<=6000){ /*  check if the button is being pressed for at least 4 seconds** 
                                                                            (explicitly 3000ms to 6000ms but live MITt tests show that the trigger occurs after 4 seconds on average)
                                                                            */
                                //document.getElementById("play-button-container").click();
                                let introVideo = document.getElementById("introduction-video");
                                introVideo.play();

                                introVideo.addEventListener('ended', (event) => {
                                    console.log('Introduction video is over! start speech recognition button when ready');    
                                });
                                
                                
                                Classroom.onApplicationPage++;
                                console.log("application moved to page", Classroom.onApplicationPage);
                            }
                        }
                    }
                }
                else{
                    Classroom.unibeat.initiated = true;
                    console.log("unibeat initiated!")
                }
            });

            document.getElementById("hiro-marker-container").addEventListener("markerLost", function(){
                console.log("found HIRO marker!");
            });

            document.getElementById("mit-marker-container").addEventListener("markerLost", function(){
                console.log("found MIT marker!");
            });
            
        });
    </script>
</head>
<body id="main-app-container">
    <a-scene embedded arjs="sourceType: webcam; debugUIEnabled: false;" id="main-experience-container">
        <a-assets timeout="20000" id="main-experience-container">
            
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true"/>
            
            <video id="chapter-overview-video" autoplay="false" preload="true" loop="false" src="../media/vid/broll.mp4"></video>
            <video id="introduction-video" autoplay="false" preload="true" loop="false" src="../media/vid/letstalk.mp4"></video>
            
            <!--<a-asset-item id="flowering-plant" src="../media/model/Monstera%20Deliciosa%20Plant.obj"></a-asset-item>-->
            <a-asset-item id="flowering-plant-mtl" src="../media/model/3d-model.mtl"></a-asset-item>
            <a-asset-item id="flowering-plant-obj" src="../media/model/3d-model.obj"></a-asset-item>
        </a-assets>
        
        <a-marker preset="hiro" id="hiro-marker-container">
            
        </a-marker>
        
        <a-marker id="mit-marker-container" type="pattern" url="./media/pattern/pattern-mit-logo.patt">
            
            <a-obj-model src="#flowering-plant-obj" mtl="#flowering-plant-mtl" scale="0.005 0.005 0.005"></a-obj-model>
            <a-entity id="actual-concept-check-label"
                      geometry="primitive: plane; height: 1; width: 1;"
                      position="0 0.5 0.5;"
                      text="value: CONCEPT CHECK; width: 8; align: center; opacity: 0;"
                      visible="false"
                      material="opacity: 0; transparent: true;"
                      rotation="-90 0 0"
                      animation="property: text.opacity; to: 1.0; loop: false; dur: 1000; easing: linear; startEvents: showQuestionLabel;">
            </a-entity>
            <a-entity id="actual-concept-check-label"
                      geometry="primitive: plane; height: 1; width: 1;"
                      position="0 0.5 0.5;"
                      text="value: Describe the various parts of the shoot system for this plant?; width: 4; align: center; opacity: 0;"
                      visible="false"
                      material="opacity: 0; transparent: true;"
                      rotation="-90 0 0"
                      animation="property: text.opacity; to: 1.0; loop: false; dur: 1000; easing: linear; startEvents: showQuestionLabel;">
            </a-entity>
        </a-marker>
        
        <a-marker id="unibeat-marker-container" type="pattern" url="./media/pattern/pattern-unibeat.patt">
            <a-video src="#chapter-overview-video" width="3" height="5" position="0 0.5 -2" rotation="-90 0 0"></a-video>
            <a-entity id="concept-check-title"
                      geometry="primitive: plane; height: 1; width: 1;"
                      position="0 0.5 0.5;"
                      text="value: INTRODUCTION; width: 8; align: center; opacity: 0;"
                      visible="false"
                      material="opacity: 0; transparent: true;"
                      rotation="-90 0 0"
                      animation="property: text.opacity; to: 1.0; loop: false; dur: 1000; easing: linear; startEvents: showIntroductionTitle;">
            </a-entity>
            <a-video id="intro-video-container"
                     src="#introduction-video"
                     width="3"
                     height="2"
                     position="0 0.5 -1"
                     rotation="-90 0 0"
                     visible="false"
                     animation="property: position; to: 0 0.5 2; loop: false; dur: 2000; easing: easeInQuad; startEvents: showIntroductionVideo;"
                     >
            </a-video>
        </a-marker>
        
        <a-entity camera look-controls>
          <!--<a-entity cursor="fuse: true; fuseTimeout: 500"
                    position="0 0 -1"
                    geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                    material="color: black; shader: flat">
          </a-entity>-->
        </a-entity>

        <!--<a-camera></a-camera>-->
    </a-scene>
    <div id="play-button-container">
    </div>
</body>
</html>