<!DOCTYPE html>
<html>
<head>
    <title>Immersive Classroom | Old Row Maryland | v. 0.2.0</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="./js/aframe100.js"></script>
    <script src="./js/build.js"></script>
</head>
<body>
    <a-scene id="main-app-container">
        <a-assets timeout="10000">
            <a-asset-item id="chair-obj" src="./media/model/modern_chair_A45.obj" preload="true" />
            
            <a-asset-item id="desk-obj" src="./media/model/Vitra_Compas_Direction_mat.obj" preload="true" />
            <a-asset-item id="desk-mtl" src="./media/model/Vitra_Compas_Direction_mat.mtl" preload="true" />
            <img id="desk-texture" src="./media/texture/desk-texture-0.png" preload="true" />
            
            <img id="earth-planet-object-texture" src="./media/texture/earthmap1k.jpg" preload="true" />
            <img id="grid-pattern-texture" src="./media/img/grid_pattern.png" preload="true" />
            <img id="wooden-floor-texture" src="./media/texture/wooden-floor-texture.png" preload="true" />
            
            <img id="wall-texture" src="./media/texture/white-painted-wall-texture.png" preload="true" />
        </a-assets>
    </a-scene>
</body>
</html>