<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title>AugR Hand Tracking Library v. 0.1.0</title>
    <link rel="stylesheet" href="../css/handtracking.css">
    <!--<script src="../js/aframe.min.js.map"></script>-->
    <script src="../js/aframe100.js"></script>
    <script src="../js/augr-hand-tracking.js"> </script>
    <script src="../js/ImmersiveAudio.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
    <audio id="native-audio-controller" controls>
        <!--<source id="native-audio-stream-controller" src="../media/audio/MenorQueTres.mp3" />-->
    </audio>
    <a-scene embedded id="immersive-layer-container">
        <a-assets>
            <img id="alleluia-cover-texture" src="../media/img/alleluia-cover.png" />
            <img id="menor-que-tres-cover-texture" src="../media/img/menor-que-tres-cover.png" />
            <img id="had-enough-remix-cover-texture" src="../media/img/had-enough-remix-cover.png" />
        </a-assets>
        <a-entity id="alleluia-immersive-entity-container"
                  geometry="primitive: plane; width: 3; height: 3;"
                  material="src: #alleluia-cover-texture; opacity: 0.7;"
                  position="-5 4 -6">
        </a-entity>
        
        <a-entity id="menor-que-tres-immersive-entity-container"
                  geometry="primitive: plane; width: 3; height: 3;"
                  material="src: #menor-que-tres-cover-texture; opacity: 0.7;"
                  position="0 4 -6">
        </a-entity>
        
        <a-entity id="had-enough-remix-immersive-entity-container"
                  geometry="primitive: plane; width: 3; height: 3;"
                  material="src: #had-enough-remix-cover-texture; opacity: 0.7;"
                  position="5 4 -6">
        </a-entity>
        
        <a-entity camera position="0 1.9 0"></a-entity><!-- look-controls wasd-controls-->
    </a-scene>
    <div>
        <button  id="move-my-eyelids-button-container" type="button"></button><!-- disabled-->
    </div>
    <video class="videobox lens" autoplay="autoplay" id="myvideo"></video>
    <canvas id="canvas" class="lens"></canvas>  
</body>
</html>