<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>House of Venus | The world is your desktop</title>
    <link rel="stylesheet" type="text/css" href="../css/en.css" />
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/en_main.js"></script>
</head>
<body>
    <div id="background-layer-container"></div>
    <div id="main-app-container">
        <div id="mobile-menu-toggle-button-container"></div>
        <div id="hov-logo-container"></div>
        <div id="house-of-venus-title-container">house of venus</div>
        <div id="navigation-menu-container">
            <div id="about-us-menu-option-container" class="menu-option-container">about</div>
            <div id="products-menu-option-container" class="menu-option-container">products</div>            
        </div>
        <div id="tag-line-container">
            <div id="house-of-venus-tag-line-0-container">Shape Reality</div>
            <div id="house-of-venus-tag-line-1-container">The world is your desktop</div>
        </div>
        <div id="build-your-own-button-container">start building</div>
        
    </div>
</body>
</html>