<!DOCTYPE html>
<html>
<head>
    <title>Hillary Yeboah's cARd | v. 0.4.2</title>
    <!-- Version standard:
        new york times application flow works all the way in and out back to main menu; assets load in a timely fashion; stability is 60% optimal;
        bakuas application flows works in to the cover page and back; assets load in .a time ly basis; stability i s 70% optimal
        barron's application flow works all the way in and out back to main menu; assets load in a timely fashion; stability is 60% optimal;
        hov office application opens in to the cover page and back; no textures define one page; template defaults in place;
    -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script src="../js/aframe-ar.js"></script><!-- https://raw.githack.com/jeromeetienne/AR.js/2.2.0/aframe/build/-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../css/hillary-profile.css" type="text/css"/>
    <script src="../js/hillary-profile-ui.js"></script>
    <script src="../js/hillary-profile-ux.js"></script>
    <script src="../js/hillary-profile-main.js"></script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <div id="go-back-to-app-cover-page-button-container">x</div>
    <div id="fuse-container"></div>
    <!--<div id="keyboard-container"></div>-->
    <video id="excessive-force-video">
        <source src="../media/vid/democrat-excessive-force-speeches-short.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <div id="barrons-go-back-to-app-cover-page-button-container">x</div>
    <div id="open-desktop-page-options-container">
        <div id="open-desktop-prompt-container">
            <p>Do you want to access the cARd immersive productivity and office tools?</p>
            <p>Package includes: Immersive Keyboard Input, Text Documents, Lyoko Programming, Audio Editor, Video Editor.</p>
        </div>
        <div id="open-desktop-options-container">
            <div id="cARd-go-back-to-app-cover-page-button-container">BACK</div>
            <div id="cARd-open-app-cover-page-button-container">YES</div>
        </div>
    </div>
    <a-scene embedded arjs id="main-experience-container">
        <a-assets timeout="20000">
            <!--<img id="mercury-planet-object-texture" src="./media/texture/mercurymap.jpg" preload="true" />
            <img id="venus-planet-object-texture" src="./media/texture/venusmap.jpg" preload="true" />
            <img id="earth-planet-object-texture" src="./media/texture/earthmap1k.jpg" preload="true" />
            <img id="jupiter-planet-object-texture" src="./media/texture/jupiter2_2k.jpg" preload="true" />-->
            <img id="nyt-banner" src="./media/img/nyt_banner.png" preload="true" />
            <img id="the-daily-cover" src="./media/img/the-daily-cover.png" preload="true" />
            
            <img id="nyt-app-icon-texture" src="./media/img/nyt-app-icon.png" preload="true" />
            <img id="bakuas-app-icon-texture" src="./media/img/bakuas-app-icon.png" preload="true" />
            <!-- <img id="bodytime-app-icon-texture" src="./media/img/bodytime-app-icon.png" preload="true" />-->
            <img id="barrons-logo-texture" src="./media/texture/barrons-logo.png" preload="true" />
            <img id="hov-office-app-icon-texture" src="./media/img/hov-office-app-icon.png" preload="true" />
            
            <img id="nyt-app-banner-texture" src="./media/img/nyt-app-banner-on-cover-page.png" preload="true" />
            <img id="nyt-app-secondary-panel-texture" src="./media/img/nyt-app-secondary-panel.png" preload="true" />
            <img id="back-to-main-page-button-texture" src="./media/img/back-to-main-page-button.png" preload="true" />
            <img id="onto-to-next-page-button-texture" src="./media/img/onto-to-app-page-button.png" preload="true" />
            
            
            
            <img id="mit-application-panel-texture" src="./media/img/mit-application-panel.png" preload="true" />
            <img id="mit-application-secondary-panel-texture" src="./media/img/mit-application-secondary-panel.png" preload="true" />
            
            <img id="hiro-application-panel-texture" src="./media/img/barrons-banner-logo.png" preload="true" />
            <img id="hiro-application-secondary-panel-texture" src="./media/img/barrons-description-panel.png" preload="true" />
            
            <!-- NYT application textures -->
            
            <img id="jigsaw-puzzle-cover" src="./media/img/jigsaw-puzzle-story.png" preload="true"/>
            <img id="streaming-pro-cover" src="./media/img/streaming-pro-story.png" preload="true"/>
            <img id="stock-cover" src="./media/img/stock-cover-monday-june8.png" preload="true" />
            <img id="weather-preview-cover" src="./media/img/weather-cover-monday-june8.png" preload="true" />
            <img id="main-cover-image-0" src="./media/img/blm-cover.png" preload="true"/>
            <img id="main-cover-image-1" src="./media/img/joe-lingeman-puzzle-painting.png" preload="true"/>
            <img id="main-cover-image-2" src="./media/img/quibi-story-cover.png" preload="true"/>
            <img id="main-cover-image-3" src="./media/img/tedros-who-story-cover.png" preload="true"/>
            <img id="main-cover-image-4" src="./media/img/saudi-highway-story-cover.png" preload="true"/>
            <img id="main-cover-image-5" src="./media/img/health-code-ticket-check-story.png" preload="true"/>
            <img id="main-cover-image-6" src="./media/img/wuhan-ends-lockdown-story-cover.png" preload="true"/>
            <img id="main-cover-image-7" src="./media/img/barcelona-shutdown-story-cover.png" preload="true"/>
            <img id="main-cover-image-8" src="./media/img/french-sailors-coronavirus-story.png" preload="true"/>
            
            
            <img id="dealbook-cover" src="./media/img/dealbook-square.png" preload="true" />
            <img id="together-apart-cover" src="./media/img/together-apart-story.png" preload="true"/>
            <img id="science-section-cover" src="./media/img/virus-genes-science-cover.png" preload="true"/>
            <img id="technology-section-cover" src="./media/img/milky-way-technology-cover.png" preload="true"/>
            <img id="business-section-cover" src="./media/img/retiring-business-cover.png" preload="true"/>
            <img id="arts-section-cover" src="./media/img/floyd-art-cover.png" preload="true"/>
            <img id="books-section-cover" src="./media/img/guibert-book-cover.png" preload="true"/>
            <img id="sports-section-cover" src="./media/img/underdog-bundesliga-sports-cover.png" preload="true"/>
            <img id="opinion-story-preview" src="./media/img/opinion-story-preview.png" preload="true"/>
            <img id="opinion-image-cover" src="./media/img/opinion-story-image-cover.png" preload="true"/>
            
            
            
            <video id="nyt-main-video" autoplay="false" webkit-playsinline="true" playsinline="true" loop="false" src="./media/vid/sanders-quit.mp4"></video>
            <video id="bakuas-ticker-video" autoplay="false" webkit-playsinline="true" playsinline="true" loop="false" src="./media/vid/ticker-nasdaq.mp4"></video>
            <img id="toggle-playback-pause-button-icon" src="./media/img/pause-icon.png" preload="true"/>
            <img id="play-next-item-button-icon" src="./media/img/play-next-icon.png" preload="true"/>
            <img id="toggle-volume-button-icon" src="./media/img/volume-on-icon.png" preload="true"/>
            
            
            
            <img id="streetwise-cover" src="./media/texture/streetwise-icon.png" preload="true" />
            <img id="luxury-listings-cover" src="./media/texture/luxury-listing-icon.png" preload="true" />
            <img id="funds-main-article-cover" src="./media/texture/funds-main-article-cover.png" preload="true" />
            <img id="100-most-influential-women-cover" src="./media/texture/100-most-influential-women.png" preload="true" />
            
            <img id="weeks-best-story-cover" src="./media/texture/weeks-best-story-cover.png" preload="true" />
            <img id="economy-and-policy-story-cover" src="./media/texture/economy-and-policy-story-cover.png" preload="true" />
            <img id="high-yield-story-cover" src="./media/texture/high-yield-story-cover.png" preload="true" />
            <img id="investing-story-cover" src="./media/texture/investing-story-cover.png" preload="true" />
            <img id="retirement-story-cover" src="./media/texture/retirement-story-cover.png" preload="true" />
            <img id="income-investing-story-cover" src="./media/texture/income-investing-cover.png" preload="true" />
            <img id="up-and-down-wall-street-story-cover" src="./media/texture/up-and-down-wall-street-story-cover.png" preload="true" />
            <img id="market-story-cover" src="./media/texture/market-story-cover.png" preload="true" />
            <img id="soft-commodities-story-cover" src="./media/texture/soft-commodities-story-cover.png" preload="true" />
            <img id="penta-story-cover" src="./media/texture/penta-story-cover.png" preload="true" />
            
            <img id="barrons-magazine-main-cover-image-0" src="./media/texture/home-prices-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-1" src="./media/texture/value-in-real-estate-stocks-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-2" src="./media/texture/joblessness-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-3" src="./media/texture/laid-off-workers-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-4" src="./media/texture/bank-mergers-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-5" src="./media/texture/gambling-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-6" src="./media/texture/retire-early-movement-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-7" src="./media/texture/chinas-tech-stocks-story-cover.png" preload="true" />
            <img id="barrons-magazine-main-cover-image-8" src="./media/texture/home-building-stocks-story-cover.png" preload="true" />
        </a-assets>
        <a-entity camera></a-entity>
    </a-scene>
</body>
</html>