<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>FRAME</title>
    <meta property=og:title content=FRAME>
    <meta property=og:site_name content=FRAME>
    <meta property=og:type content=website>
    <meta property=og:description content="Immersive presentations and meetings - right from the browser.">
    <meta property=og:image content=https://framevr.io/assets/images/frame-meta-image.jpg><meta name=twitter:card content=summary_large_image>
    <meta name=twitter:image:alt content="FRAME is a space for immersive presentations and meetings - right from a browser.">
    <script src=https://aframe.io/releases/1.0.3/aframe.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js></script><script src=https://cdn.jsdelivr.net/npm/easyrtc@1.1.0/api/easyrtc.js></script>
    <script src=https://widget.cloudinary.com/v2.0/global/all.js></script>
    <script src=https://apps.sketchfab.com/web-importer/sketchfab-importer.js></script>
    <script src=build/build.js></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138273737-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        gtag("config", "UA-138273737-2");
    </script>
    <link href=/ui/css/chunk-vendors.440f27d0.css rel=preload as=style>
    <link href=/ui/css/index.d786da40.css rel=preload as=style>
    <link href=/ui/js/chunk-vendors.6830ec7a.js rel=preload as=script><link href=/ui/js/index.6e1559eb.js rel=preload as=script><link href=/ui/css/chunk-vendors.440f27d0.css rel=stylesheet>
    <link href=/ui/css/index.d786da40.css rel=stylesheet></head>
<body style="background: #25afe4;">
    <div class=spinnerContainer>
        <div class=spinner id=loadSpinner>
            <div class=bounce1></div>
            <div class=bounce2></div>
            <div class=bounce3></div></div>
    </div>
    <div id=ui-app></div>
    <span id=app></span><script src=/ui/js/chunk-vendors.6830ec7a.js></script>
    <script src=/ui/js/index.6e1559eb.js></script>
</body>
</html>