<!DOCTYPE html>
<html>
<head>
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script src="../js/aframe-ar.js"></script><!-- https://raw.githack.com/jeromeetienne/AR.js/2.2.0/aframe/build/-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("Hello, World!");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs>
        <a-assets>
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true" />
            <img id="discovery-album-cover" src="../media/img/discovery-cover.png" preload="true" />
            <!--<img id="venus-planet-object-texture" src="../media/texture/venusmap.jpg" preload="true" />
            <img id="mars-planet-object-texture" src="../media/texture/marsmap1k.jpg" preload="true" />-->
        </a-assets>
        
        <a-marker preset="hiro">
            <a-entity geometry="primitive: plane; width: 1; height: 1;" rotation="-90 0 0" material="src: #discovery-album-cover; side: double;" position="0 0.2 0"></a-entity>
            <a-video src="#test-video" width="4" height="3" position="0 -0.5 0" rotation="-90 0 0"></a-video>
            <!--<a-entity geometry="primitive:sphere; radius: 0.5;" animation="property: rotation; to: 0 360 0; loop: true; dur: 10000; easing: linear" position='0 0.5 0' material='src: #earth-planet-object-texture'></a-entity>-->
        </a-marker>
        
       <!-- <a-marker id="secondary-marker" type="pattern" url="../media/pattern/ssshh.patt">
            <a-entity geometry="primitive:sphere; radius: 0.5;" animation="property: rotation; to: 0 360 0; loop: true; dur: 10000; easing: linear" position='0 0.5 0' material='src: #venus-planet-object-texture'></a-entity>
        </a-marker>
        
        <a-marker id="tertiary-marker" type="pattern" url="../media/pattern/pattern-discovery-cover-white.patt">
            <a-entity geometry="primitive:sphere; radius: 0.5;" animation="property: rotation; to: 0 360 0; loop: true; dur: 10000; easing: linear" position='0 0.5 0' material='src: #mars-planet-object-texture'></a-entity>
        </a-marker>-->
        
        <a-entity camera></a-entity>
    </a-scene>
</body>
</html>