<!DOCTYPE html>
<html>
<head>
    <title>Maryland 200 | An Immersive Racing Experience | v. 0.2.61</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../css/md-200-style.css" type="text/css" />
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script src="../js/aframe-ar.js"></script><!-- https://raw.githack.com/jeromeetienne/AR.js/2.2.0/aframe/build/-->
    <script src="../js/md-200-ui.js"></script>
    <script src="../js/md-200-ux.js"></script>
    <script src="../js/md-200-main.js"></script>
</head>
<body style='margin : 0px; overflow: hidden;' id="main-app-container">
    <a-scene embedded arjs="sourceType: webcam; debugUIEnabled: false;" id="main-experience-container">
        <a-assets timeout="60000" id="main-experience-container">
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true"/>
            
            <a-asset-item id="bugatti-obj" src="../media/model/Car.obj" preload="true"></a-asset-item>
            <a-asset-item id="bugatti-mtl" src="../media/model/Car.mtl" preload="true"></a-asset-item>
            
            <a-asset-item id="lambo-obj" src="../media/model/Avent_sport.obj" preload="true"></a-asset-item>
            <a-asset-item id="lambo-mtl" src="../media/model/Avent_sport_mod.mtl" preload="true"></a-asset-item>
            
            <a-asset-item id="audi-obj" src="../media/model/audi.obj" preload="true"></a-asset-item>
        </a-assets>
        <a-camera gps-camera rotation-reader></a-camera>
    </a-scene>
</body>
</html>