<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>NYT v.0.0.9</title>
    <script src="../js/aframe100.js"></script>
  <!--  <script src="../js/aframe-ar.js"></script>-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            let position = [0, 4, 0];
            let newHeight = "0 4 0";
            let covers = [
                document.getElementById("front-page-main-cover-0"),
                document.getElementById("front-page-main-cover-1")
            ];
            
            document.getElementById("up-button").addEventListener("click", function(){
                position[1]+=1;
                newHeight = position[0]+" "+position[1]+" "+position[2];
                document.getElementById("rig").setAttribute("position", newHeight);
            });
            
            document.getElementById("down-button").addEventListener("click", function(){
                position[1]-=1;
                newHeight = position[0]+" "+position[1]+" "+position[2];
                document.getElementById("rig").setAttribute("position", newHeight);
            });
            
            /*setTimeout(function(){
                covers[0].setAttribute("visible", "false");
                covers[1].setAttribute("visible", "true");
            }, 10000);*/
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <div style="cursor: pointer; z-index:1000;position: absolute; width: 100px; height: 100px; border-radius: 50%; background-color: greenyellow; color: black; right: 5%; bottom: 20%;text-align: center;line-height: 100px;font-size: 24px;" id="up-button">up</div>
    <div style="cursor: pointer; z-index:1000;position: absolute; width: 100px; height: 100px; border-radius: 50%; background-color: red; color: white;right: 5%; bottom: 5%;text-align: center;line-height: 100px;font-size: 24px;" id="down-button">down</div>
    <!--<div id="play-button"></div>-->
    <a-scene>
    <!--<a-scene embedded arjs>-->
        <a-assets>
            <img id="nyt-banner" src="../media/img/nyt_banner.png" preload="true" />
            <img id="the-daily-cover" src="../media/img/the-daily-cover.png" preload="true" />
            <img id="coronavirus-cover" src="../media/img/coronavirus-logo.png" preload="true" />
            <img id="book-review-cover" src="../media/img/nyt-book-review-logo.png" preload="true" />
            <img id="stock-cover" src="../media/img/stock-cover-sat1820.png" preload="true" />
            <img id="weather-preview-cover" src="../media/img/weather-cover-ss-sat1820.png" preload="true" />
            <img id="main-cover-image-0" src="../media/img/apple-store-closures-over-coronavirus-story-image.png" preload="true"/>
            <img id="main-cover-image-1" src="../media/img/coronavirus-arcdetriomphe-story-image.png" preload="true"/>
            <img id="main-cover-image-2" src="../media/img/trump-gets-tested-for-coronavirus-story-image.png" preload="true"/>
            <img id="main-cover-image-3" src="../media/img/views-from-barcelona-spain-on-lockdown-coronavirus-story-image.png" preload="true"/>
            <img id="main-cover-image-4" src="../media/img/manila-coronavirus-task-force-story-image.png" preload="true"/>
            <img id="main-cover-image-5" src="../media/img/munich-town-square-coronavirus-story-image.png" preload="true"/>
            <img id="main-cover-image-6" src="../media/img/house-leaders-gathered-over-coronavirus-funding-story-image.png" preload="true"/>
            <img id="main-cover-image-7" src="../media/img/empty-shelves-london-supermarket-coronavirus-story-image.png" preload="true"/>
            <img id="main-cover-image-8" src="../media/img/italian-music-balcony-coronavirus-story-image.png" preload="true"/>
        </a-assets>
        <!--<a-marker type="pattern" url="../media/pattern/pattern-nyt-marker-candidate.patt">-->
            
            <a-entity id="nyt-banner-container"
                      geometry="primitive: plane; width: 4.5; height: 0.75"
                      position="0.25 1.2 -5"
                      rotation="-90 0 0"
                      material="side: double; src: #nyt-banner"
                      >
            </a-entity>
        
            <a-entity id="date-container" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1; height: 1"
                      position="-2.75 1.2 -4"
                      rotation="-90 0 0"
                      text="value: Saturday\nMarch 14,\n2020; color: black; width: 5; align: center; font: 	https://cdn.aframe.io/fonts/Exo2Bold.fnt;"
                      material="transparent: true; opacity: 0;"
                      >
            </a-entity>
        
            <a-entity id="front-page-banner-item-container-0" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1; height: 1"
                      position="-1.5 1.2 -4"
                      rotation="-90 0 0"
                      material="side: double; src: #the-daily-cover"
                      >
            </a-entity>
        
            <a-entity id="front-page-banner-item-container-1" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1; height: 1"
                      position="-0.5 1.2 -4"
                      rotation="-90 0 0"
                      material="side: double; src: #coronavirus-cover;"
                      >
            </a-entity>
        
            <a-entity id="front-page-banner-item-container-2" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1; height: 1"
                      position="0.5 1.2 -4"
                      rotation="-90 0 0"
                      material="side: double; src: #book-review-cover;"
                      >
            </a-entity>
        
            <a-entity id="front-page-banner-item-container-3" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1.5; height: 1"
                      position="1.75 1.2 -4"
                      rotation="-90 0 0"
                      material="side: double; src: #stock-cover;"
                      >
            </a-entity>
            <a-entity id="front-page-banner-item-container-4" class="front-page-banner-item-container weather-preview-container"
                      geometry="primitive: plane; width: 1.5; height: 1"
                      position="3.3 1.2 -4"
                      rotation="-90 0 0"
                      material="side: double; src: #weather-preview-cover;"
                      >
            </a-entity>
        
            <a-entity id="front-page-main-cover-0" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-0; opacity: 1.0; transparent: false;"
                      visible="true"
                      animation__hideCoverZeroTrans="property: material.transparent; from: false; to: true; dur: 50; delay: 10000;"
                      animation__hideCoverZeroOpa="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 8000;"
                      animation__showCoverZeroOpaLoop="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 88000; easing: linear; loop; true;"
                  animation__showCoverZeroTransLoop="property: material.transparent; from: true; to: false; dur: 50; delay: 90000; loop: true;"
                      animation__hideCoverZeroOpaLoop="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 98000;"
                      animation__hideCoverZeroTransLoop="property: material.transparent; from: false; to: true; dur: 50; delay: 100000; loop: true;"
                      
                      >
            </a-entity><!--
                      

animation__showCoverOneTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 12000; easing: linear;"-->
        
            <a-entity id="front-page-main-cover-1" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-1; opacity: 0; transparent: true;"
                  animation__showCoverOneOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 8000; easing: linear;"
                  animation__showCoverOneTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 10000;"
                  animation__hideCoverOneOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 18000; easing: linear;"
                      animation__hideCoverOneTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 20000; easing: linear;"
                      animation__showCoverOneOpaLoop="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 98000; easing: linear; loop; true;"
                  animation__showCoverOneTransLoop="property: material.transparent; from: true; to: false; dur: 50; delay: 100000; loop: true;"
                      animation__hideCoverOneOpaLoop="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 108000;"
                      animation__hideCoverOneTransLoop="property: material.transparent; from: false; to: true; dur: 50; delay: 110000; loop: true;"
                      >
            </a-entity>
        
            <a-entity id="front-page-main-cover-2" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-2; opacity: 0; transparent: true;"
                  animation__showCoverTwoOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 18000; easing: linear;"
                  animation__showCoverTwoTrans="property: material.transparent; from: false; to: true; dur: 50; delay: 20000;"
                  animation__hideCoverTwoOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 28000; easing: linear;"
                  animation__hideCoverTwoTrans="property: material.transparent; from: false; to: true; dur: 50; delay: 30000;"
                      animation__showCoverTwoOpaLoop="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 108000; easing: linear; loop; true;"
                  animation__showCoverTwoTransLoop="property: material.transparent; from: true; to: false; dur: 50; delay: 11000; loop: true;"
                      animation__hideCoverTwoOpaLoop="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 118000;"
                      animation__hideCoverTwoTransLoop="property: material.transparent; from: false; to: true; dur: 50; delay: 120000;"
                      >
            </a-entity>
        
            <a-entity id="front-page-main-cover-3" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-3; opacity: 0; transparent: true;"
                  animation__showCoverThreeOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 28000; easing: linear;"
                  animation__showCoverThreeTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 30000;"
                  animation__hideCoverThreeOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 38000;"
                      animation__hideCoverThreeTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 40000;"
                      
                      animation__showCoverThreeOpaLoop="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 118000; easing: linear; loop; true;"
                  animation__showCoverThreeTransLoop="property: material.transparent; from: true; to: false; dur: 50; delay: 120000; loop: true;"
                      animation__hideCoverThreeOpaLoop="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 128000;"
                      animation__hideCoverThreeTransLoop="property: material.transparent; from: false; to: true; dur: 50; delay: 130000;"
                      >
                
            </a-entity>
        
        <a-entity id="front-page-main-cover-4" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-4; opacity: 0; transparent: true;"
                  animation__showCoverThreeOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 38000; easing: linear;"
                  animation__showCoverThreeTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 40000;"
                  animation__hideCoverThreeOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 48000;"
                      animation__hideCoverThreeTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 50000;"
                  animation__showCoverFourOpaLoop="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 128000; easing: linear; loop; true;"
                  animation__showCoverFourTransLoop="property: material.transparent; from: true; to: false; dur: 50; delay: 130000; loop: true;"
                      animation__hideCoverFourOpaLoop="property: material.opacity; from: 1.0; to: 0; dur: 2000; delay: 138000;"
                      animation__hideCoverFourTransLoop="property: material.transparent; from: false; to: true; dur: 50; delay: 140000;"
                      >
            </a-entity>
        
        <a-entity id="front-page-main-cover-5" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-5; opacity: 0; transparent: true;"
                  animation__showCoverFiveOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 48000; easing: linear;"
                  animation__showCoverFiveTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 50000;"
                  animation__hideCoverFiveOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 58000;"
                      animation__hideCoverThreeTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 60000;"
                      >
            </a-entity>
        
        <a-entity id="front-page-main-cover-6" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-6; opacity: 0; transparent: true;"
                  animation__showCoverSixOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 58000; easing: linear;"
                  animation__showCoverSixTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 60000;"
                  animation__hideCoverSixOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 68000;"
                      animation__hideCoverSixTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 70000;"
                      >
            </a-entity>
        
        <a-entity id="front-page-main-cover-7" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-7; opacity: 0; transparent: true;"
                  animation__showCoverSevenOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 68000; easing: linear;"
                  animation__showCoverSevenTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 70000;"
                  animation__hideCoverSevenOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 78000;"
                      animation__hideCoverThreeTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 80000;"
                      >
            </a-entity>
        
        <a-entity id="front-page-main-cover-8" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-8; opacity: 0; transparent: true;"
                  animation__showCoverThreeOpa="property: material.opacity; from: 0; to : 1.0; dur: 2000; delay: 78000; easing: linear;"
                  animation__showCoverThreeTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 80000;"
                  animation__hideCoverThreeOpa="property: material.opacity; from: 1.0; to : 0; dur: 2000; delay: 88000;"
                      animation__hideCoverThreeTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 90000;"
                      >
            </a-entity>
        <!--</a-marker> animation__moveUp="property: position; to: 0 1.2 -6.5; easing: linear; delay: 22000; dur: 2000;"-->
        
        <a-entity id="rig" position="0 4 0" rotation="0 0 0">
            <a-entity camera wasd-controls look-controls position="0 1.6 0"></a-entity>
        </a-entity>
        <a-sky color="aquamarine"></a-sky>
    </a-scene>
</body>
</html>