<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Panel View (OS-0.0.1)</title>
    <script src="../js/socket.io.js"></script>
    <script src="../js/aframe100.js"></script>
    <script src="../js/aframe-ar.js"></script><!---->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("panelView17.html");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs> <!-- -->
        <a-assets>
            <img id="main-cover-image-0" src="../media/img/nearly-empy-park-brooklyn-story-image.png" preload="true"/>
        </a-assets>       
        <a-marker type="pattern" url="../media/pattern/pattern-nyt-marker-candidate.patt">            
            <a-entity id="front-page-main-cover-0" 
                      geometry="primitive: plane; width: 4.5; height: 3"
                      position="0.25 1.2 -1.9"
                      rotation="-90 0 0"
                      material="side: double; src: #main-cover-image-0; opacity: 1.0; transparent: false;"
                      visible="true"
                      animation__hideCoverZeroTrans="property: material.transparent; from: false; to: true; dur: 50; delay: 2000; startEvents: hideCoverZero;"
                      animation__hideCoverZeroOpa="property: material.opacity; from: 1.0; to: 0; dur: 2000; startEvents: hideCoverZero;"
                      
                      animation__showCoverZeroTrans="property: material.transparent; from: true; to: false; dur: 50; delay: 2000; startEvents: showCoverZero;"
                      animation__showCoverZeroOpa="property: material.opacity; from: 0; to: 1.0; dur: 2000; startEvents: showCoverZero;"
                      >
            </a-entity><!--animation__showCoverOneTrans="property: material.transparent; from: true; to : false; dur: 50; delay: 12000; easing: linear;"-->
        
        </a-marker>
    </a-scene>
</body>
</html>