<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Panel View (OS-0.0.1)</title>
    <script src="../js/socket.io.js"></script>
    <script src="../js/aframe100.js"></script>
    <script src="../js/aframe-ar.js"></script><!---->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("panelView1.html");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs> <!-- -->
        <a-assets>
            <img id="nyt-banner" src="../media/img/nyt_banner.png" preload="true" />
        </a-assets>
        <a-marker type="pattern" url="../media/pattern/pattern-nyt-marker-candidate.patt">
            <a-entity id="date-container" class="front-page-banner-item-container"
                      geometry="primitive: plane; width: 1; height: 1"
                      position="-2.75 1.2 -4"
                      rotation="-90 0 0"
                      text="value: Monday\nMarch 30,\n2020; color: white; width: 6; align: center; font: 	https://cdn.aframe.io/fonts/Exo2Bold.fnt;"
                      material="transparent: true; opacity: 0;"
                      >
            </a-entity>
        </a-marker>
    </a-scene>
</body>
</html>
