<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Remote (OS-0.0.1)</title>
    <script src="../js/socket.io.js"></script><!---->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("panel remote v.0.0.1");
            // used to test immersive panel controls
            // will grow into the control module for hands and hand-based input to the news paper
            var socket = io.connect(location.host);
            socket.emit("CLIENTconnectPanelRemoteToSERVER", {status: true});
            
            socket.on("SERVERauthenticateConnectionToPanelRemoteOnCLIENT", function(data){
                if(data.status){
                    
                } 
            });
            
            document.getElementById("select-panel-2").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 2});
            });
            
            document.getElementById("select-panel-3").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 3});
            });
            
            document.getElementById("select-panel-4").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 4});
            });
            
            document.getElementById("select-panel-5").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 5});
            });
            
            document.getElementById("select-panel-6").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 6});
            });
            
            document.getElementById("select-panel-7").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 7});
            });
            
            document.getElementById("select-panel-8").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 8});
            });
            
            document.getElementById("select-panel-9").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 9});
            });
            
            document.getElementById("select-panel-10").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 10});
            });
            
            document.getElementById("select-panel-11").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 11});
            });
            
            document.getElementById("select-panel-12").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 12});
            });
            
            document.getElementById("select-panel-13").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 13});
            });
            
            document.getElementById("select-panel-14").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 14});
            });
            
            document.getElementById("select-panel-15").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 15});
            });
            
            document.getElementById("select-panel-16").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 16});
            });
            
            document.getElementById("select-panel-17").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 17});
            });
            
            document.getElementById("select-panel-18").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 18});
            });
            
            document.getElementById("select-panel-19").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 19});
            });
            
            document.getElementById("select-panel-20").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 20});
            });
            
            document.getElementById("select-panel-21").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 21});
            });
            
            document.getElementById("select-panel-22").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 22});
            });
            
            document.getElementById("select-panel-23").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 23});
            });
            
            document.getElementById("select-panel-24").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 24});
            });
            
            document.getElementById("select-panel-25").addEventListener("click", function(){
                socket.emit("CLIENTbroadcastPanelRemoteRequestToSERVER", {status: true, action: "selectPanel", target: 25});
            });
        });
    </script>
</head>
<body style='margin : 0px; overflow-y: scroll; overflow-x: hidden;'>
    <div id="select-panel-2" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 5px; z-index: 100; border: 2px black solid; background-color: white; color: black; text-align: center; line-height: 100px; cursor: pointer;">select 2</div>
    <div id="select-panel-3" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 5px; z-index: 100; border: 2px black solid; background-color: red; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 3</div>
    <div id="select-panel-4" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 109px; z-index: 100; border: 2px black solid; background-color: orange; color: black; text-align: center; line-height: 100px; cursor: pointer;">select 4</div>
    <div id="select-panel-5" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 109px; z-index: 100; border: 2px black solid; background-color: yellow; color: black; text-align: center; line-height: 100px; cursor: pointer;">select 5</div>
    <div id="select-panel-6" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 213px; z-index: 100; border: 2px black solid; background-color: greenyellow; color: black; text-align: center; line-height: 100px; cursor: pointer;">select 6</div>
    <div id="select-panel-7" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 213px; z-index: 100; border: 2px black solid; background-color: blue; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 7</div>
    <div id="select-panel-8" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 317px; z-index: 100; border: 2px black solid; background-color: indigo; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 8</div>
    <div id="select-panel-9" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 317px; z-index: 100; border: 2px black solid; background-color: violet; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 9</div>
    
    <div id="select-panel-10" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 421px; z-index: 100; border: 2px black solid; background-color: indigo; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 10</div>
    <div id="select-panel-11" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 421px; z-index: 100; border: 2px black solid; background-color: indigo; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 11</div>
    
    <div id="select-panel-12" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 525px; z-index: 100; border: 2px black solid; background-color: #7D6608; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 12</div>
    <div id="select-panel-13" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 525px; z-index: 100; border: 2px black solid; background-color: #7D6608; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 13</div>
    
    <div id="select-panel-14" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 629px; z-index: 100; border: 2px black solid; background-color: #58D68D; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 14</div>
    <div id="select-panel-15" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 629px; z-index: 100; border: 2px black solid; background-color: #B2BABB; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 15</div>
    
    <div id="select-panel-16" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 733px; z-index: 100; border: 2px black solid; background-color: #A569BD; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 16</div>
    <div id="select-panel-17" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 733px; z-index: 100; border: 2px black solid; background-color: #A569BD; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 17</div>
    
    <div id="select-panel-18" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 837px; z-index: 100; border: 2px black solid; background-color: #D7BDE2; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 18</div>
    <div id="select-panel-19" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 837px; z-index: 100; border: 2px black solid; background-color: #D7BDE2; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 19</div>
    
    <div id="select-panel-20" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 941px; z-index: 100; border: 2px black solid; background-color: #82E0AA; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 20</div>
    <div id="select-panel-21" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 941px; z-index: 100; border: 2px black solid; background-color: #82E0AA; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 21</div>
    
    <div id="select-panel-22" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 1045px; z-index: 100; border: 2px black solid; background-color: #5DADE2; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 22</div>
    <div id="select-panel-23" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 1045px; z-index: 100; border: 2px black solid; background-color: #5DADE2; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 23</div>
    
    <div id="select-panel-24" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; left: 5%; top: 1149px; z-index: 100; border: 2px black solid; background-color: #339021; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 24</div>
    <div id="select-panel-25" style="position: absolute; width: 100px; height: 100px; border-radius: 50%; right: 5%; top: 1149px; z-index: 100; border: 2px black solid; background-color: #339021; color: white; text-align: center; line-height: 100px; cursor: pointer;">select 25</div>
</body>
</html>