<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Panel View (OS-0.0.1)</title>
    <script src="../js/socket.io.js"></script>
    <script src="../js/aframe100.js"></script>
    <script src="../js/aframe-ar.js"></script><!---->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("panelView10.html");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs> <!-- -->
        <a-assets>
            <img id="opinion-image-cover" src="../media/img/opinion-image-cover.png" preload="true"/>
        </a-assets>       
        <a-marker type="pattern" url="../media/pattern/pattern-nyt-marker-candidate.patt">            
            <a-entity id="left-side-banner-item-container-0" class="left-side-banner-item-container"
                      geometry="primitive: plane; width: 1.5; height: 2"
                      position="0 1.2 0"
                      rotation="-90 0 0"
                      material="side: double; src: #opinion-image-cover;"
                      >
            </a-entity>
        </a-marker>
    </a-scene>
</body>
</html>
