<!DOCTYPE html>
<html>
<head>
    <title>House of Venus | City as a Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./css/main.css" type="text/css" />
    <link rel="stylesheet" href="./css/subscribe.css" type="text/css" />
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.getElementById("second-company-logo-container").addEventListener("click", function(){
                window.location.href = "./";
            })
        });
    </script>
</head>
<body>
    <div id="main-app-container">
        <div id="page-0-container" class="page-container">
            <form id="form-container" action="https://formspree.io/xoqwbykz" method="POST">
                <span id="form-title-container" class="form-label-container">Subscribe</span>
                <span class="form-label-container">First</span>
                <input type="text" class="form-input-container" name="first-name">
                <span class="form-label-container">Last</span>
                <input type="text" class="form-input-container" name="last-name">
                <span class="form-label-container">Email</span>
                <input type="email" class="form-input-container" name="_replyto">
                <input type="submit" id="submit-form-button-container" value="Send">
            </form>
            <div id='company-header-button'>house of venus</div>
            <div id="second-company-logo-container"></div>
            <div id="social-media-button-bar-container">
                <div id="instagram-social-button-container" class="social-button-container"></div>
                <div id="youtube-social-button-container" class="social-button-container"></div>
            </div>
        </div>
    </div>
</body>
</html>