<!DOCTYPE html>
<html>
<head>
    <title>Talk.Show.Host</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./css/tsh.css" type="text/css" />
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            
        });
    </script>
</head>
<body>
    <div id="main-app-container">
        <div id="page-0-container" class="page-container">
            <div id="page-0-content-wrapper">
                <div id="company-logo-container"></div>
                <div id="company-title-container">House of Venus</div>
                <div id="company-slogan-container">The world is your desktop</div>
            </div>
            <div id="next-page-container"></div>
            <div id="page-overlay-container">
                <div id="services-button-container" class="service-select-button-container">
                    services
                </div>
                <div id="page-1-content-wrapper">
                    <div id="annes-flower-shop-button-container" class="service-option-container"></div>
                    <div id="foodid-button-container" class="service-option-container"></div>
                    <div id="talk-show-host-button-container" class="service-option-container"></div>
                </div>
                <div id="subscribe-button-container" class="service-select-button-container">
                    subscribe
                </div>
            </div>
        </div>
        <!--<div id="page-1-container" class="page-container">
            <div id="services-button-container" class="service-select-button-container">
                services
            </div>
            <div id="page-1-content-wrapper">
                <div id="annes-flower-shop-button-container" class="service-option-container"></div>
                <div id="foodid-button-container" class="service-option-container"></div>
                <div id="talk-show-host-button-container" class="service-option-container"></div>
            </div>
            <div id="subscribe-button-container" class="service-select-button-container">
                subscribe
            </div>
        </div>-->
    </div>
</body>
</html>