<!DOCTYPE html>
<html>
<head>
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("Hello, World!");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs>
        <a-assets>
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true" />
            <video id="test-video" autoplay loop="true" src="../media/vid/test.mp4"></video>
        </a-assets>
        
        <a-video src="#test-video" width="16" height="9"></a-video>
        
        <a-entity camera></a-entity>
    </a-scene>
</body>
</html>