<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="../js/aframe100.js"></script><!--https://aframe.io/releases/1.0.0/-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("Hello, World!");
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene>
        <a-assets>
            <img id="earth-planet-object-texture" src="../media/texture/earthmap1k.jpg" preload="true" />
            <video id="test-video" autoplay="true" loop="true" src="../media/vid/test.mp4"></video>
        </a-assets>
        
        <a-video src="#test-video" width="3" height="1.5" position="0 0 0" rotation="-90 0 0"></a-video>
        
        <a-camera wasd-controls></a-camera>
    </a-scene>
</body>
</html>