<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>WaPo v.0.0.2</title>
    <script src="../js/aframe100.js"></script>
    <script src="../js/aframe-ar.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <!--<div id="play-button"></div>-->
    <a-scene embedded arjs>
        <a-assets>
            <img id="wapo-banner" src="../media/img/wapo_banner.png" preload="true" />
        </a-assets>
        
        
        <a-marker type="pattern" url="../media/pattern/pattern-wapo-logo.patt">
            
            <a-entity id="wapo-banner-container"
                      geometry="primitive: plane; width: 3.5; height: 0.5"
                      position="0 0.5 -3"
                      rotation="-90 0 0"
                      material="side: double; src: #wapo-banner">
            </a-entity>
            
            <a-entity id="wapo-page-0-container"
                      geometry="primitive: plane; width: 0.5; height: 0.5"
                      position="0 0 -3"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      animation__growToHalfWidth="property: geometry.width; to : 1.5; easing: linear; dur: 3000; delay: 4000;"
                      animation__growToFullWidth="property: geometry.width; to : 3; easing: linear; dur: 3000; delay: 7000;"
                      animation__growToFullHeight="property: geometry.height; to : 1.5; easing: linear; dur: 3000; delay: 4000;">
            </a-entity>
            
            <a-entity id="banner-date-container"
                      geometry="primitive: plane; width: 1; height: 0.5"
                      position="-2.5 0.2 -2.7"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      text="value: March 11, 2020; width: 3;">
            </a-entity>
            
            <a-entity id="banner-edition-label-container"
                      geometry="primitive: plane; width: 1; height: 0.5"
                      position="-2.5 0.2 -2.5"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      text="value: 	Edition:U.S. & World|Regional; width: 3; color: black;">
            </a-entity>
            
            <a-entity id="banner-slogan-container"
                      geometry="primitive: plane; width: 1; height: 0.5"
                      position="0 0.2 -2.5"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      text="value: Democracy Dies in Darkness; color: black; width: 3;">
            </a-entity>
            
            <a-entity id="banner-temperature-container"
                      geometry="primitive: plane; width: 1; height: 0.5"
                      position="2 0.2 -2.5"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      text="value: 54*; color: black; width: 3;">
            </a-entity>
            
            <a-entity id="banner-weather-locale-container"
                      geometry="primitive: plane; width: 1; height: 0.5"
                      position="2.5 0.2 -2.5"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      text="value: Washington, D.C.; color: black; width: 3;">
            </a-entity>
            
            <a-entity id="wapo-page-1-container"
                      geometry="primitive: plane; width: 0.5; height: 0.5"
                      position="0 0 0"
                      rotation="-90 0 0"
                      material="side: double; color: white;"
                      animation__growToHalfHeight="property: geometry.height; to : 3; easing: linear; dur: 3000; delay: 4000;"
                      animation__growToFullWidth="property: geometry.width; to : 3; easing: linear; dur: 3000; delay: 4000;"
                      animation__growToFullHeight="property: geometry.height; to : 4.5; easing: linear; dur: 3000; delay: 7000;">
            </a-entity>

        </a-marker>
    </a-scene>
</body>
</html>