<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Panel View (OS-0.0.1)</title>
    <script src="../js/socket.io.js"></script>
    <script src="../js/aframe100.js"></script>
    <script src="../js/aframe-ar.js"></script><!---->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log("panelView14.html");
            // source view, i.e. the model view on the front page
            // add a button for toggling between the centered view and the actual view as it appears on the front page
        });
    </script>
</head>
<body style='margin : 0px; overflow: hidden;'>
    <a-scene embedded arjs> <!-- -->
        <a-assets>
            <img id="arts-section-cover" src="../media/img/art-cover-monday-30-celebrity-culture-is-burning.png" preload="true"/>
        </a-assets>       
        <a-marker type="pattern" url="../media/pattern/pattern-nyt-marker-candidate.patt">            
            <a-entity id="other-stories-banner-item-container-0" class="other-stories-banner-item-container"
                      geometry="primitive: plane; width: 2; height: 2"
                      position="0 1.2 0"
                      rotation="-90 0 0"
                      material="side: double; src: #arts-section-cover;"
                      >
            </a-entity>
        </a-marker>
    </a-scene>
</body>
</html>