/*
*   ----------------------------------------------
*   .LYOKO USER INTERFACE STYLE COMPILATION TARGET
*   DRAFT SPECIFICATION V 0.3.1
*   AUTHOR: PATRICE-MORGAN ONOLY [@starmaker2130]
*   ----------------------------------------------
*   TARGET DETAILS:
*   NAME: api-docs-ui.css
*   CREATION:
*   LAST MODIFICATION:
*   HOST:
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

body, html, #main-app-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#main-app-container{
    background-color: yellow;
}

#page-0-container, #page-1-container{
    transition: opacity 0.5s, height 0.5s;
}

#page-0-container{
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
}

#page-1-container{
    background-color: yellow;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#app-type-selection-container{
    background-color: rgba(255, 255, 255, 0);/*blue;*/
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -150px;
    line-height: 30px;
    font-size: 24px;
    color: white;
}

#app-type-flat-selection-container{
    background-image: url("../media/img/flat-icon.png");
    background-size: 120px 120px;
    background-position: center center;
    background-repeat: no-repeat;
}

#app-type-immersive-selection-container{
    background-image: url("../media/img/eye-icon.png");
    background-size: 80px 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

#app-type-flat-selection-container, #app-type-immersive-selection-container{
    width: 100%;
    height: 100px;
    height: 45%;
    margin: 2% auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
}

#app-type-flat-selection-container:hover, #app-type-immersive-selection-container:hover{
    background-color: rgba(255,255,255, 1.0);
}