<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Isabelle's Market | Room by House of Venus | v. 0.1.0.1</title>  
    <style>
        @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
        
        * {
            margin: 0;
            padding: 0;
        }
        
        body, html{
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        var mobileNavIsVisible = true;
        var isDesktop = false;
        
        function loadUI(){
        
        }
             
        document.addEventListener("DOMContentLoaded", function(){
            loadUI();
        });
    </script>
</head>
<body>
    <div id="main-app-container">
    </div>
</body>
</html>